In [2]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\SOGANG\AppData\Roaming\nltk_data...

True

In [40]:
import pandas as pd
from tqdm import tqdm 
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
sia=SIA()

In [19]:
df = pd.read_csv('./dataset.csv/dataset.csv').astype(str)

In [20]:
df = df[['review_text', 'review_score']]

In [21]:
df

                                               review_text review_score
0                                          Ruined my life.            1
1        This will be more of a ''my experience with th...            1
2                            This game saved my virginity.            1
3        • Do you like original games? • Do you like ga...            1
4                 Easy to learn, hard to master.                      1
...                                                    ...          ...
6417101  I really ove this game but it needs somethings...           -1
6417102  Used to play Puzzel Pirates 'way back when', b...           -1
6417103  This game was aright, though a bit annoying. W...           -1
6417104  I had a nice review to recommend this game, bu...           -1
6417105  The puzzles in this game are fun, but you have...           -1

[6417106 rows x 2 columns]

In [10]:
def predict(str) :
    pol_score = sia.polarity_scores(str)
    if(pol_score['compound'] < 0) :
        return -1
    return 1

In [49]:
tqdm.pandas()
df['nltk'] = df['review_text'].progress_apply(lambda x : predict(x))

100%|██████████████████████████████████████████████████████████████████████| 6417106/6417106 [58:16<00:00, 1835.43it/s]

In [50]:
df

                                               review_text review_score  nltk
0                                          Ruined my life.            1    -1
1        This will be more of a ''my experience with th...            1     1
2                            This game saved my virginity.            1     1
3        • Do you like original games? • Do you like ga...            1     1
4                 Easy to learn, hard to master.                      1     1
...                                                    ...          ...   ...
6417101  I really ove this game but it needs somethings...           -1     1
6417102  Used to play Puzzel Pirates 'way back when', b...           -1    -1
6417103  This game was aright, though a bit annoying. W...           -1    -1
6417104  I had a nice review to recommend this game, bu...           -1    -1
6417105  The puzzles in this game are fun, but you have...           -1     1

[6417106 rows x 3 columns]

In [61]:
df.reset_index(drop=True)

                                               review_text review_score  nltk
0                                          Ruined my life.            1    -1
1        This will be more of a ''my experience with th...            1     1
2                            This game saved my virginity.            1     1
3        • Do you like original games? • Do you like ga...            1     1
4                 Easy to learn, hard to master.                      1     1
...                                                    ...          ...   ...
6417101  I really ove this game but it needs somethings...           -1     1
6417102  Used to play Puzzel Pirates 'way back when', b...           -1    -1
6417103  This game was aright, though a bit annoying. W...           -1    -1
6417104  I had a nice review to recommend this game, bu...           -1    -1
6417105  The puzzles in this game are fun, but you have...           -1     1

[6417106 rows x 3 columns]

In [67]:
df['nltk'] = df['nltk'].apply(lambda x : str(x))

In [80]:
wrong = df[df['review_score'] != df['nltk']]

In [83]:
wrong

                                               review_text review_score nltk
0                                          Ruined my life.            1   -1
9        Every server is spanish or french. I can now f...            1   -1
10                         Fire in the Hole Simulator 1999            1   -1
11       I never played a better first person shooter. ...            1   -1
12       WARNING : DO NOT buy this game, if you do, you...            1   -1
...                                                    ...          ...  ...
6417097  This game has some serious problems. First of ...           -1    1
6417098  This game is good but also horrible. Its fun t...           -1    1
6417100  This game is good but also horrible. Its fun t...           -1    1
6417101  I really ove this game but it needs somethings...           -1    1
6417105  The puzzles in this game are fun, but you have...           -1    1

[1311700 rows x 3 columns]

In [82]:
1- len(wrong) / len(df)

0.7955932160073403