In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\82102\anaconda3\lib\site-packages (1.0.2)

In [1]:
import math
import pandas as pd
import pymysql

In [2]:
conn = pymysql.connect(
    host='database-2.cxqxtozuatjf.ap-northeast-2.rds.amazonaws.com', 
    user='admin', password='12345678', 
    db='game', charset='utf8'
)
cur = conn.cursor()

In [3]:
game='pubg'
sql = 'SELECT *FROM '+game
df=pd.read_sql(sql, conn)
a=math.log10(len(df))
b=math.log10(max(df.groupby('Datetime').size()))
c=df['Score'].mean()*0.5
score=(a/b*0.5+c)*100
print(game,round(score,1))

pubg 88.9

In [4]:
game='overwatch'
sql = 'SELECT *FROM '+game
df=pd.read_sql(sql, conn)
a=math.log10(len(df))
b=math.log10(max(df.groupby('Datetime').size()))
c=df['Score'].mean()*0.5
score=(a/b*0.5+c)*100
print(game,round(score,1))

overwatch 87.1

In [5]:
game='hearthstone'
sql = 'SELECT *FROM '+game
df=pd.read_sql(sql, conn)
a=math.log10(len(df))
b=math.log10(max(df.groupby('Datetime').size()))
c=df['Score'].mean()*0.5
score=(a/b*0.5+c)*100
print(game,round(score,1))

hearthstone 91.4

In [6]:
game='crossfireX'
sql = 'SELECT *FROM '+game
df=pd.read_sql(sql, conn)
a=math.log10(len(df))
b=math.log10(max(df.groupby('Datetime').size()))
c=df['Score'].mean()*0.5
score=(a/b*0.5+c)*100
print(game,round(score,1))

crossfireX 82.3